.search-form {
  margin-bottom: 40px;
}

$search-from-font-size: 24px;

.place-input {
  font-size: $search-from-font-size;
  padding: 5px 3px 6px ;
  border-radius: 2px;
}

.submit-button {
  -webkit-appearance: none;
  font-size: $search-from-font-size;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}
